{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <h1 class="text-center my-5">{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change text-center my-5">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="action" class="btn btn-outline-light bg-dark">{% trans "Change Password" %}</button>
        <a href="{% url 'account_reset_password' %}" class="btn btn-outline-light bg-dark my-5">{% trans "Forgot Password?" %}</a>
    </form>
{% endblock %}