{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container text-center">
    <div class="row justify-content-center">
        <div class="col-md-12 mt-3 py-lg-5 py-md-3 py-2">
            <h3>{% trans "Sign Up" %}</h3>

            <p>{% blocktrans %}Welcome to R.H Artshop. Do you already have an account? Then please <a
                    class="link" href="{{ login_url }}">sign in</a> instead.{% endblocktrans %}</p>
            <form class="" id="signup_form" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
                {% endif %}
                <button class="btn btn-outline-light bg-dark" type="submit">{% trans "Sign Up" %} &raquo;</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}