{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
    <div class="row">

        <!-- Canvas Products Column -->
        <div class="col-12 mt-3 justify-content-center">
            <div class="row justify-content-center">
                {% for product in page_obj %}
                <div class="col-xl-2 col-lg-4 col-xs-6 col-md-4 justify-content-center">
                    <div class="card mb-4 product_data">
                        <div class="card-body">
                            <div class="image-container">
                                <!-- Product image-->
                                {% if 'placeholder' in product.featured_image.url %}
                                <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="Placeholder image">
                                {% else %}
                                <img class="card-img-top" src="{{ product.featured_image.url }}" alt="{{ product.name }}">
                                {% endif %}
                            </div>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                <!-- Product name-->
                                    <h5 class="fw-bolder">{{ product.name }}</h5>
                                <!-- Product price-->
                                    Price: {{ product.price }} $
                                    <input class="text-center me-3 qty-input" id="inputQuantity" type="num" value="1" style="max-width: 3rem">
                                </div>
                            </div>
                            <div class="card-footer p-6 pt-0 border-top-0 bg-transparent">
                                <div class="btn-group">
                                    {% csrf_token %}
                                    <input type="hidden" value="{{ product.id }}" class="prod_id">
                                    <a class="btn btn-outline-dark mt-auto" href="{% url 'shopitem' product.slug %}">View Item</a>
                                    <a class="btn btn-outline-dark mt-auto addToCartBtn">Add to cart</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:4 %}
            </div>
            
            <div class="row justify-content-center">
                {% endif %}
                {% endfor %}

            </div>
        </div>
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li class="page-item me-2">
                <a href="?page={{ page_obj.previous_page_number }}" 
                    class="page-link no-text-decoration">&laquo; Previous</a></li>
                {% endif %}
                <span class="current pt-2">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                <li class="page-item ms-2">
                <a href="?page={{ page_obj.next_page_number }}" 
                    class="page-link no-text-decoration"> NEXT &raquo;</a></li>
                {% endif %}
            </ul>
        </nav>

    </div>
</div>

{% endblock %}